{% extends 'base.html' %}

    {% block title %} Home {% endblock %}

    {% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" style="background-color: red; height: 100px;"></div>
            <div class="col-md-8" style="background-color: #ff41d8; height: 100px;">
            <div class="row">
            <div class="col-md-2" style="background-color: #4800ff; height: 100px;"></div>
            <div class="col-md-6" style="background-color: #ff6f00; height: 100px;"></div>
            <div class="col-md-4" style="background-color: #2dff51; height: 100px;"></div>
            </div>
            </div>
            </div>
            
            I
    </div>

    {% endblock %}